body{
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F3F7FE;
}

input, label, option, select{
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor{
    padding: 10px;
    width: 50%;
    margin-left: 25%;
    background-color: #7fa5ff88;
   
}

.contenedor:hover{
    box-shadow: #034BF1 5px 5px 10px; 
    background-color: #7FA6FF;
}

.linea{
    padding: 5px 15px;    
}

button{
    background-color: #0097e6;
    color: cornsilk;
    padding: 5px 15px;
    font-size: 2em;
    margin-left: 30%;
}

button:hover{
    background-color: #192a56;
    color: cornsilk;
    cursor: pointer;
}